{% extends "base.html" %}

{% block content %}
  <h1>Car: {{ car.model }}</h1>
  <p><strong>Manufacturer: </strong>{{ car.manufacturer }}</p>
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted">{{ driver.id }}</p>
      <p>username: {{ driver.username }}
        <br>
      name: {% if driver.first_name %}
        {{ driver.first_name }}
      {% endif %}
        <br>
      {% if driver.last_name %}
      surname:  {{ driver.last_name }}
      {% endif %}
        <br>
      {% if driver.email %}
      email:  {{ driver.email }}
      {% endif %}
      </p>
    {% empty %}
      <p>No drivers!</p>
    {% endfor %}
  </div>
{% endblock %}
